XML/distribucion.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:element name="mensajedistribucion">
    <xs:complexType>
      <xs:sequence>
      	<xs:element type="xs:string" name="servername"/>
        <xs:element name="propiedades">
          <xs:complexType>
            <xs:sequence>
              <xs:element name="property" maxOccurs="unbounded" minOccurs="0">
                <xs:complexType>
                  <xs:sequence>
                    <xs:element type="xs:string" name="name"/>
                    <xs:element type="xs:string" name="unit"/>
                    <xs:element type="xs:short" name="bound"/>
                    <xs:element type="xs:short" name="value"/>
                    <xs:element type="xs:string" name="visible"/>
                  </xs:sequence>
                </xs:complexType>
              </xs:element>
            </xs:sequence>
          </xs:complexType>
        </xs:element>
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>